body{
  background-color: #eaeaea !important;
}

.v1 {
  background-image: linear-gradient( 135deg, #2ADCC6 0%, #1d9ea0 10%, #105f7a  60%) !important;
  /*background: none !important;
  background: transparent !important;
  box-shadow: inset 0 0 0 2000px rgba(16, 95, 122, 0.8) !important;*/
}

.v2 {
  background: none !important;
  background: transparent !important;
  /*background-color: #111111 !important;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 1) !important;*/
}

.hero_context {
  background-color: #eaeaea !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8) !important;
  display: inherit;
  align-items: center !important;
  height: 350vh;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/*home page styles*/

/*.masthead {
  display:inherit;
  align-items: center !important;
  /*background-image: linear-gradient( 135deg, #2ADCC6 0%, #1d9ea0 33%, #105f7a  66%);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85) !important;
  height: 100vh;
  transition: background-image 2s linear!important;
}*/

/*.image-1 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264857/HomePage/image_wndf35.jpg') center center/cover no-repeat !important;
}

.image-2 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264861/HomePage/image1_zdpaeh.jpg') center center/cover no-repeat !important;
}

.image-3 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264867/HomePage/image2_o2uixp.jpg') center center/cover no-repeat !important;
}

.image-4 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264870/HomePage/image3_tbztsc.jpg') center center/cover no-repeat !important;
}

.image-5 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264874/HomePage/image4_i0wgyl.jpg') center center/cover no-repeat !important;
}

.image-6 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264876/HomePage/image5_wk8igl.jpg') center center/cover no-repeat !important;
}

.image-7 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264879/HomePage/image6_fnzalf.jpg') center center/cover no-repeat !important;
}

.image-8 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264882/HomePage/image7_btogdd.jpg') center center/cover no-repeat !important;
}

.image-9 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264885/HomePage/image8_dh5trj.jpg') center center/cover no-repeat !important;
}

.image-10 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724264888/HomePage/image9_zvgnj9.jpg') center center/cover no-repeat !important;
}

.image-11 {
  background: url('https://res.cloudinary.com/dlmdnbstg/image/upload/v1724265003/HomePage/image10_ylymcq.jpg') center center/cover no-repeat !important;
}*/

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.instructions {
  padding: 2rem;
  border-radius: 8px;
  margin: 2rem auto;
  max-width: 80%; /* Set to full width of the container */
  width: 75%; /* Set the width to 90% of the container */
}

.instructions h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.instruction-step {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.instruction-step.image-right {
  flex-direction: row-reverse;
}

.instruction-step.image-left {
  flex-direction: row;
}

.instruction-step img {
  width: 45%; /* Adjust width to make images fit well */
  height: auto;
  margin: 0 2.5%; /* Adjust margin for spacing */
  border-radius: 8px;
}

.instruction-step .text {
  width: 45%; /* Adjust width to make text fit well */
  padding: 0 2.5%; /* Adjust padding for spacing */
}

.instruction-step h3 {
  margin-bottom: 0.5rem;
  color: #ffff;
}

.instruction-step p {

  margin: 0;
  color: #ffff;
}

/*end home page styles*/

.react-datepicker-wrapper {
  width: 100%;
}
.createq {
  background-color: #ef476f!important;
}

.react-datepicker__time-list-item--disabled{
  display: none;
}

.error_mes{
  border-width: 0!important;
}

.title {
  margin-top: 0px;
}

.headerq{
  background-image: linear-gradient(120deg, #57AFCE 61.5%, #2596BE 38.5%)!important;
  margin-top: -14px !important;
  margin-left: -14px !important;
  margin-right: -14px !important;
  height: 45px !important;
  color: #fff !important;
  text-align: center !important;
  padding-top: 7px!important;
  font-size: 20px !important;
}

.h_Geography {
  background-image: linear-gradient(120deg, #57AFCE 61.5%, #2596BE 38.5%)!important;
}

.h_History {
  background-image: linear-gradient(120deg, #F3D89F 61.5%, #EBC36C 38.5%)!important;
}

.h_Top5 {
  background-image: linear-gradient(120deg, #8991EB 61.5%, #6873E5 38.5%)!important;
}

.h_Gossip {
  background-image: linear-gradient(120deg, #FD9C6D 61.5%, #FB7839 38.5%)!important;
}

.h_GuessTheScore {
  background-image: linear-gradient(120deg, #667F68 61.5%, #48654A 38.5%)!important;
}

.h_GuessThePlayer {
  background-image: linear-gradient(120deg, #A04040 61.5%, #902020 38.5%)!important;
}

.h_LogoQuiz {
  background-image: linear-gradient(120deg, #3E5269 61.5%, #263D57 38.5%)!important;
}

.h_Managerid {
  background-image: linear-gradient(120deg, #9D98B7 61.5%, #7C759F 38.5%)!important;
}

.h_Playerid {
  background-image: linear-gradient(120deg, #65B5BA 61.5%, #319CA2 38.5%)!important;
}

.h_WhoIsMissing {
  background-image: linear-gradient(120deg, #54C08A 61.5%, #15A85F 38.5%)!important;
}

.h_HigherLower {
  background-image: linear-gradient(120deg, #FF708E 61.5%, #FF204F 38.5%)!important;
}

.h_FindTheStadium {
  background-image: linear-gradient(120deg, #75777A 61.5%, #3D4144 38.5%)!important;
}

.h_FindPlayerByPhoto {
  background-image: linear-gradient(120deg, #8667A4 61.5%, #552980 38.5%)!important;
}

.h_FansQuestion {
  background-image: linear-gradient(120deg, #BE8F60 61.5%, #9E5710 38.5%)!important;
}

.iconq{
  width: 70px!important;
  height: 70px!important;
  margin-left: -10px!important;
  margin-top: -370px!important;
  margin-right: 10px!important;
}

.buttonq {
  width: 70px !important;
  height: 70px !important;
  margin-left: 10px !important;
  display: "flex" !important;
  text-align: center !important;
  border-radius: 100% !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) !important;
  color: #fff !important;
  padding-top: 21px!important;
  padding-left: 24px!important;
  font-size: 23px !important;
  font-family: "Chau Philomene One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.b_History {
  background-image: linear-gradient( 135deg, #F2D899 0%, #EECC7E 33%, #EBC36C  66%) !important;
}

.b_History:hover {
  background-image: linear-gradient( 135deg, #F3D89F 0%, #F3D89F 33%, #F3D89F  66%) !important;
}

.b_Geography {
  background-image: linear-gradient( 120deg, #63B4D1 0%, #63B4D1 33%, #2596BE  66%) !important;
}

.b_Geography:hover {
  background-image: linear-gradient( 120deg, #57AFCE 0%, #57AFCE 33%, #57AFCE  66%) !important;
}

.b_Top5 {
  background-image: linear-gradient( 135deg, #BFC3F4 0%, #7E87E9 33%, #525FE1  66%) !important;
}

.b_Top5:hover {
  background-image: linear-gradient( 135deg, #8991EB 0%, #8991EB 33%, #8991EB  66%) !important;
}

.b_Gossip {
  background-image: linear-gradient( 135deg, #FDB28E 0%, #FC874E 33%, #FA641C  66%) !important;
}

.b_Gossip:hover {
  background-image: linear-gradient( 135deg, #FD9C6D 0%, #FD9C6D 33%, #FD9C6D  66%) !important;
}

.b_GuessTheScore {
  background-image: linear-gradient( 135deg, #859986 0%, #607A62 33%, #3B5A3D  66%) !important;
}

.b_GuessTheScore:hover {
  background-image: linear-gradient( 135deg, #667F68 0%, #667F68 33%, #667F68  66%) !important;
}

.b_GuessThePlayer {
  background-image: linear-gradient( 135deg, #B87070 0%, #A04040 33%, #881010  66%) !important;
}

.b_GuessThePlayer:hover {
  background-image: linear-gradient( 135deg, #A04040 0%, #A04040 33%, #A04040  66%) !important;
}

.b_LogoQuiz {
  background-image: linear-gradient( 135deg, #647587 0%, #364B63 33%, #0E2845  66%) !important;
}

.b_LogoQuiz:hover {
  background-image: linear-gradient( 135deg, #3E5269 0%, #3E5269 33%, #3E5269  66%) !important;
}

.b_Managerid {
  background-image: linear-gradient( 135deg, #DFDDE7 0%, #9E99B7 33%, #7C759F  66%) !important;
}

.b_Managerid:hover {
  background-image: linear-gradient( 135deg, #9D98B7 0%, #9D98B7 33%, #9D98B7  66%) !important;
}

.b_Playerid {
  background-image: linear-gradient( 135deg, #CCE7E8 0%, #7FC2C6 33%, #319CA2  66%) !important;
}

.b_Playerid:hover {
  background-image: linear-gradient( 135deg, #65B5BA 0%, #65B5BA 33%, #65B5BA  66%) !important;
}

.b_WhoIsMissing {
  background-image: linear-gradient( 135deg, #C1E8D5 0%, #63C695 33%, #15A85F  66%) !important;
}

.b_WhoIsMissing:hover {
  background-image: linear-gradient( 135deg, #54C08A 0%, #54C08A 33%, #54C08A  66%) !important;
}

.b_HigherLower {
  background-image: linear-gradient( 135deg, #FFE0E6 0%, #FF809A 33%, #FF0035  66%) !important;
}

.b_HigherLower:hover {
  background-image: linear-gradient( 135deg, #FF708E 0%, #FF708E 33%, #FF708E  66%) !important;
}

.b_FindTheStadium {
  background-image: linear-gradient( 135deg, #BABCBD 0%, #75777A 33%, #3D4144  66%) !important;
}

.b_FindTheStadium:hover {
  background-image: linear-gradient( 135deg, #75777A 0%, #75777A 33%, #75777A  66%) !important;
}

.b_FindPlayerByPhoto {
  background-image: linear-gradient( 135deg, #CFC2DB 0%, #8667a4 33%, #3C0A6D  66%) !important;
}

.b_FindPlayerByPhoto:hover {
  background-image: linear-gradient( 135deg, #8667A4 0%, #8667A4 33%, #8667A4  66%) !important;
}

.b_FansQuestion {
  background-image: linear-gradient( 135deg, #F2E9E0 0%, #B17840 33%, #9E5710  66%) !important;
}

.b_FansQuestion:hover {
  background-image: linear-gradient( 135deg, #BE8F60 0%, #BE8F60 33%, #BE8F60  66%) !important;
  transition-duration: 14s !important;
}



.segmentq{
  border: 1px solid!important;
  width: 300px!important;
  height: 180px !important;
  border-radius: 2px!important;
  border-width: 2px!important;
  margin-left: 25px !important;
}

.s_History{
  background-image: linear-gradient( 120deg, #F9F0D5 50%, #F6E8C0 50%)!important;
  border-color: #EBC36C!important;
}

.s_Geography{
  background-image: linear-gradient( 120deg, #C9E5EF 50%, #92CBDF 50%)!important;
  border-color: #2596BE!important;
}

.s_Top5{
  background-image: linear-gradient( 120deg, #D4D7F8 50%, #BFC3F4 50%)!important;
  border-color: #525FE1!important;
}

.s_Gossip{
  background-image: linear-gradient( 120deg, #FED9C7 50%, #FDB28E 50%)!important;
  border-color: #FA641C!important;
}

.s_GuessTheScore {
  background-image: linear-gradient( 120deg, #B6C2B7 50%, #9DAD9E 50%)!important;
  border-color: #3B5A3D!important;
}

.s_GuessThePlayer {
  background-image: linear-gradient( 120deg, #D0A0A0 50%, #B87070 50%)!important;
  border-color: #881010!important;
}

.s_LogoQuiz {
  background-image: linear-gradient( 120deg, #83909F 50%, #55677B 50%)!important;
  border-color: #0E2845!important;
}

.s_Managerid {
  background-image: linear-gradient( 120deg, #DFDDE7 50%, #B7B3C9 50%)!important;
  border-color: #7C759F!important;
}

.s_Playerid {
  background-image: linear-gradient( 120deg, #CCE7E8 50%, #98CED1 50%)!important;
  border-color: #319CA2!important;
}

.s_WhoIsMissing {
  background-image: linear-gradient( 120deg, #C1E8D5 50%, #A2DDC0 50%)!important;
  border-color: #05a254!important;
}

.s_HigherLower {
  background-image: linear-gradient( 120deg, #FFE0E6 50%, #FFC0CD 50%)!important;
  border-color: #FF0035!important;
}

.s_FindTheStadium {
  background-image: linear-gradient( 120deg, #D6D7D8 50%, #C8C9CA 50%)!important;
  border-color: #343A40!important;
}

.s_FindPlayerByPhoto {
  background-image: linear-gradient( 120deg, #CFC2DB 50%, #B7A4C9 50%)!important;
  border-color: #491A77!important;
}

.s_FansQuestion {
  background-image: linear-gradient( 120deg, #F2E9E0 50%, #E5D2C0 50%)!important;
  border-color: #974B00!important;
}

.header_text{
  color: #fff !important;
}

.header_popup{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  text-align: left !important;
  color: #fff !important;
}

.hpop_Geography {
  background-image: linear-gradient(135deg, #57AFCE 0%, #2596BE 38.5%)!important;
}

.hpop_History {
  background-image: linear-gradient(135deg, #F3D89F 0%, #EBC36C 38.5%)!important;
}

.hpop_Top5 {
  background-image: linear-gradient(135deg, #8991EB 0%, #6873E5 38.5%)!important;
}

.hpop_Gossip {
  background-image: linear-gradient(135deg, #FD9C6D 0%, #FB7839 38.5%)!important;
}

.hpop_GuessTheScore {
  background-image: linear-gradient(135deg, #667F68 0%, #48654A 38.5%)!important;
}

.hpop_GuessThePlayer {
  background-image: linear-gradient(135deg, #A04040 0%, #902020 38.5%)!important;
}

.hpop_LogoQuiz {
  background-image: linear-gradient(135deg, #3E5269 0%, #263D57 38.5%)!important;
}

.hpop_Managerid {
  background-image: linear-gradient(135deg, #9D98B7 0%, #7C759F 38.5%)!important;
}

.hpop_Playerid {
  background-image: linear-gradient(135deg, #65B5BA 0%, #319CA2 38.5%)!important;
}

.hpop_WhoIsMissing {
  background-image: linear-gradient(135deg, #54C08A 0%, #15A85F 38.5%)!important;
}

.hpop_HigherLower {
  background-image: linear-gradient(135deg, #FF708E 0%, #FF204F 38.5%)!important;
}

.hpop_FindTheStadium {
  background-image: linear-gradient(135deg, #75777A 0%, #3D4144 38.5%)!important;
}

.hpop_FindPlayerByPhoto {
  background-image: linear-gradient(135deg, #8667A4 0%, #552980 38.5%)!important;
}

.hpop_FansQuestion {
  background-image: linear-gradient(135deg, #BE8F60 0%, #9E5710 38.5%)!important;
}

.icon_popup{
  width: 38px!important;
  height: 38px!important;
  margin-left: 10px!important;
  margin-right: 10px!important;
}

.modal_description{
  padding-top: 15px !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.modal_actions{
  height: 65px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-right: 15px !important;
}

.spop_History{
  background-image: linear-gradient( 135deg, #F9F0D5 0%, #F6E8C0 50%)!important;
}

.spop_Geography{
  background-image: linear-gradient( 135deg, #C9E5EF 0%, #92CBDF 50%)!important;
}

.spop_Top5{
  background-image: linear-gradient( 135deg, #D4D7F8 0%, #BFC3F4 50%)!important;
}

.spop_Gossip{
  background-image: linear-gradient( 135deg, #FED9C7 0%, #FDB28E 50%)!important;
}

.spop_GuessTheScore {
  background-image: linear-gradient( 135deg, #B6C2B7 0%, #9DAD9E 50%)!important;
}

.spop_GuessThePlayer {
  background-image: linear-gradient( 135deg, #D0A0A0 0%, #B87070 50%)!important;
}

.spop_LogoQuiz {
  background-image: linear-gradient( 135deg, #83909F 0%, #55677B 50%)!important;
}

.spop_Managerid {
  background-image: linear-gradient( 135deg, #DFDDE7 0%, #B7B3C9 50%)!important;
}

.spop_Playerid {
  background-image: linear-gradient( 135deg, #CCE7E8 0%, #98CED1 50%)!important;
}

.spop_WhoIsMissing {
  background-image: linear-gradient( 135deg, #C1E8D5 0%, #A2DDC0 50%)!important;
}

.spop_HigherLower {
  background-image: linear-gradient( 135deg, #FFE0E6 0%, #FFC0CD 50%)!important;
}

.spop_FindTheStadium {
  background-image: linear-gradient( 135deg, #D6D7D8 0%, #C8C9CA 50%)!important;
}

.spop_FindPlayerByPhoto {
  background-image: linear-gradient( 135deg, #CFC2DB 0%, #B7A4C9 50%)!important;
}

.spop_FansQuestion {
  background-image: linear-gradient( 135deg, #F2E9E0 0%, #E5D2C0 50%)!important;
}



.category_selection_image{
  margin-right: '10px'!important;
  margin-top:'-5px'!important;
}

.coin {
  perspective: 1000px!important;
}

.coin-inner {
  position: relative!important;
  transform-style: preserve-3d!important;
  transition: transform 1s!important;
}

.coin .coin-inner.flipping {
  animation: flip-animation 1s!important;
}

@keyframes flip-animation {
  0% {
    transform: rotateY(0deg)!important;
  }
  50% {
    transform: rotateY(180deg)!important;
  }
  100% {
    transform: rotateY(360deg)!important;
  }
}

.coin .coin-inner.heads {
  transform: rotateY(0deg)!important;
}

.coin .coin-inner.tails {
  transform: rotateY(180deg)!important;
}

.coin-front,
.coin-back {
  position: absolute!important;
  backface-visibility: hidden!important;
}

.hero_container {
  margin-top: -6vh;
  background: url('assets/homepage.png') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center !important;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  object-fit: contain;
}

.table_score{
  border: 2px solid !important;
  width: 300px !important;
  height: 10px !important;
  border-radius: 2px !important;
  border-width: 2px !important;
  margin-top: -90px !important;
  margin-left: 90px !important;
  margin-right: 600px !important;
  background-color: #1d9ea0 !important;
  border-color: #105f7a !important;
}

.score_cell{
  background-color: #105f7a !important;
  max-width: 50px !important;
  min-width: 50px !important;
}

.player{
  background-color: #1d9ea0 !important;
  max-width: 50px !important;
  min-width: 50px !important;
}

.score_header{
  color: #fff !important;
}
