body{
    background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient( 135deg, #2ADCC6 0%, #1d9ea0 10%, #105f7a  60%) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center !important;
  background-image: linear-gradient( 135deg, #2ADCC6 0%, #1d9ea0 33%, #105f7a  66%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

.react-datepicker-wrapper {
  width: 100%;
}
.createq {
  background-color: #ef476f!important;
}

.react-datepicker__time-list-item--disabled{
  display: none;
}
