body{
    background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient( 135deg, #2ADCC6 0%, #1d9ea0 10%, #105f7a  60%) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center !important;
  background-image: linear-gradient( 135deg, #2ADCC6 0%, #1d9ea0 33%, #105f7a  66%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

.react-datepicker-wrapper {
  width: 100%;
}
.createq {
  background-color: #ef476f!important;
}

.react-datepicker__time-list-item--disabled{
  display: none;
}

.error_mes{
  border-width: 0!important;
}

.title {
  margin-top: 0px;
}

.headerq{
  background-image: linear-gradient(120deg, #57AFCE 61.5%, #2596BE 38.5%)!important;
  margin-top: -14px !important;
  margin-left: -14px !important;
  margin-right: -14px !important;
  height: 45px !important;
  text-align: left !important;
  color: #fff !important;
}

.h_geography {
  background-image: linear-gradient(120deg, #57AFCE 61.5%, #2596BE 38.5%)!important;
}

.h_history {
  background-image: linear-gradient(120deg, #F3D89F 61.5%, #EBC36C 38.5%)!important;
}

.h_top5 {
  background-image: linear-gradient(120deg, #E8CF9A 61.5%, #DCB766 38.5%)!important;
}

.h_gossip {
  background-image: linear-gradient(120deg, #FD9C6D 61.5%, #FB7839 38.5%)!important;
}

.h_guess_the_score {
  background-image: linear-gradient(120deg, #667F68 61.5%, #48654A 38.5%)!important;
}

.h_guess_the_player {
  background-image: linear-gradient(120deg, #A04040 61.5%, #902020 38.5%)!important;
}

.h_logo_quiz {
  background-image: linear-gradient(120deg, #3E5269 61.5%, #263D57 38.5%)!important;
}

.h_manager_id {
  background-image: linear-gradient(120deg, #9D98B7 61.5%, #7C759F 38.5%)!important;
}

.h_player_id {
  background-image: linear-gradient(120deg, #65B5BA 61.5%, #319CA2 38.5%)!important;
}

.h_who_is_missing {
  background-image: linear-gradient(120deg, #54C08A 61.5%, #15A85F 38.5%)!important;
}

.h_higher_lower {
  background-image: linear-gradient(120deg, #FF708E 61.5%, #FF204F 38.5%)!important;
}

.h_find_the_stadium {
  background-image: linear-gradient(120deg, #75777A 61.5%, #3D4144 38.5%)!important;
}

.h_find_player_by_photo {
  background-image: linear-gradient(120deg, #8667A4 61.5%, #552980 38.5%)!important;
}

.h_fans_question {
  background-image: linear-gradient(120deg, #BE8F60 61.5%, #9E5710 38.5%)!important;
}

.iconq{
  width: 38px!important;
  height: 38px!important;
  margin-left: 10px!important;
  margin-right: 10px!important;
}

.buttonq {
  width: 70px !important;
  height: 70px !important;
  margin-left: 10px !important;
  display: "flex" !important;
  text-align: center !important;
  border-radius: 100% !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) !important;
  color: #fff !important;
}

.b_history {
  background-image: linear-gradient( 135deg, #F2D899 0%, #EECC7E 33%, #EBC36C  66%) !important;
}

.b_geography {
  background-image: linear-gradient( 120deg, #63B4D1 0%, #63B4D1 33%, #2596BE  66%) !important;
}

.b_top5 {
  background-image: linear-gradient( 135deg, #F2D899 0%, #EECC7E 33%, #D8AF55  66%) !important;
}

.b_gossip {
  background-image: linear-gradient( 135deg, #FDB28E 0%, #FC874E 33%, #FA641C  66%) !important;
}

.b_guess_the_score {
  background-image: linear-gradient( 135deg, #859986 0%, #607A62 33%, #3B5A3D  66%) !important;
}

.b_guess_the_player {
  background-image: linear-gradient( 135deg, #B87070 0%, #A04040 33%, #881010  66%) !important;
}

.b_logo_quiz {
  background-image: linear-gradient( 135deg, #647587 0%, #364B63 33%, #0E2845  66%) !important;
}

.b_manager_id {
  background-image: linear-gradient( 135deg, #DFDDE7 0%, #9E99B7 33%, #7C759F  66%) !important;
}

.b_player_id {
  background-image: linear-gradient( 135deg, #CCE7E8 0%, #7FC2C6 33%, #319CA2  66%) !important;
}

.b_who_is_missing {
  background-image: linear-gradient( 135deg, #C1E8D5 0%, #63C695 33%, #15A85F  66%) !important;
}

.b_higher_lower {
  background-image: linear-gradient( 135deg, #FFE0E6 0%, #FF809A 33%, #FF0035  66%) !important;
}

.b_find_the_stadium {
  background-image: linear-gradient( 135deg, #BABCBD 0%, #75777A 33%, #3D4144  66%) !important;
}

.b_find_player_by_photo {
  background-image: linear-gradient( 135deg, #CFC2DB 0%, #8667a4 33%, #3C0A6D  66%) !important;
}

.b_fans_question {
  background-image: linear-gradient( 135deg, #F2E9E0 0%, #B17840 33%, #9E5710  66%) !important;
}

.labelq{
  text-align: center !important;
}

.segmentq{
  border: 1px solid!important;
  width: 300px!important;
  height: 180px !important;
  border-radius: 2px;
  border-width: 2px!important;
}

.s_history{
  background-image: linear-gradient( 120deg, #F9F0D5 50%, #F6E8C0 50%)!important;
  border-color: #EBC36C!important;
}

.s_geography{
  background-image: linear-gradient( 120deg, #C9E5EF 50%, #92CBDF 50%)!important;
  border-color: #2596BE!important;
}

.s_top5{
  background-image: linear-gradient( 120deg, #F6EBD5 50%, #F1E1C0 50%)!important;
  border-color: #D8AF55!important;
}

.s_gossip{
  background-image: linear-gradient( 120deg, #FED9C7 50%, #FDB28E 50%)!important;
  border-color: #FA641C!important;
}

.s_guess_the_score {
  background-image: linear-gradient( 120deg, #B6C2B7 50%, #9DAD9E 50%)!important;
  border-color: #3B5A3D!important;
}

.s_guess_the_player {
  background-image: linear-gradient( 120deg, #D0A0A0 50%, #B87070 50%)!important;
  border-color: #881010!important;
}

.s_logo_quiz {
  background-image: linear-gradient( 120deg, #83909F 50%, #55677B 50%)!important;
  border-color: #0E2845!important;
}

.s_manager_id {
  background-image: linear-gradient( 120deg, #DFDDE7 50%, #B7B3C9 50%)!important;
  border-color: #7C759F!important;
}

.s_player_id {
  background-image: linear-gradient( 120deg, #CCE7E8 50%, #98CED1 50%)!important;
  border-color: #319CA2!important;
}

.s_who_is_missing {
  background-image: linear-gradient( 120deg, #C1E8D5 50%, #A2DDC0 50%)!important;
  border-color: #05a254!important;
}

.s_higher_lower {
  background-image: linear-gradient( 120deg, #FFE0E6 50%, #FFC0CD 50%)!important;
  border-color: #FF0035!important;
}

.s_find_the_stadium {
  background-image: linear-gradient( 120deg, #D6D7D8 50%, #C8C9CA 50%)!important;
  border-color: #343A40!important;
}

.s_find_player_by_photo {
  background-image: linear-gradient( 120deg, #CFC2DB 50%, #B7A4C9 50%)!important;
  border-color: #491A77!important;
}

.s_fans_question {
  background-image: linear-gradient( 120deg, #F2E9E0 50%, #E5D2C0 50%)!important;
  border-color: #974B00!important;
}

.segment_popup{
  margin-top: -30px !important;
  width: auto!important;
  height: 250px !important;
  border: 1px solid!important;
  border-radius: 2px;
  border-width: 2px!important;
}

.header_popup{
  margin-top: -14px !important;
  margin-left: -14px !important;
  margin-right: -14px !important;
  height: 45px !important;
  text-align: left !important;
  color: #fff !important;
  border: 1px solid!important;
}
.icon_popup{
  width: 38px!important;
  height: 38px!important;
  margin-left: 10px!important;
  margin-right: 10px!important;
}